$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "../bower_components/sass-bootstrap/lib/bootstrap";
@import "partials/soundcloudPlayer";
@import "partials/bootstrapoverride";
body{
    background: url(../images/back2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

}
.container.ng-enter, .container.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.container.ng-enter { opacity: 0;}        /* starting animations for enter */
.container.ng-enter-active { opacity: 1}  /* terminal animations for enter */
.container.ng-leave { opacity: 1;}        /* starting animations for leave */
.container.ng-leave-active { opacity: 0;} /* terminal animations for leave */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
